*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background: rgb(61, 147, 204);
}
.app{
background:white;
width:30%;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
text-align: center;
padding:1em 0em 3em 0em;
}
.app-title{
font-size: 1.5em;
margin-bottom: 0.3em;
}
.task-button{
  background: rgb(61, 147, 204);
  padding: 6px 7px;
  border: none;
  border-radius: 3px;
  margin-left: 0.2em;
 
}
.task-input{
  padding:5px;
  width: 70%;
}
.task-input:focus{
  outline: none;
}
.task-item{
 text-align: start;
 margin: 0.3em 2em;
}
.remove-task-button{
  background: rgb(61, 147, 204);
  border: none;
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 1em;
  font-size: 12px;
}
.clear-clearAll{
  margin-top: 1em;
  background: rgb(61, 147, 204);
  border: none;
  padding: 0.5em 2em;
}
.todo-item{
  font-size: 15px;
  color: rgb(61, 58, 58);
}

